# MANIFEST.in
exclude .gitignore
exclude .coverage
exclude build-*.sh
exclude build-submission.zip
include README.rst
include setup.cfg
include requirements.txt
prune .cache
prune .git
prune .idea
prune build
prune dist
prune env
recursive-exclude *.egg-info *
recursive-include tests *